<h3><%= @firstname %>'s All-Time cycling totals</h3>
<table cellpadding="2">
    <tr><td># of rides</td><td><%= @art["count"] %></td></tr>
    <tr><td>Distance</td><td><%=  number_with_delimiter(@art["distance"]/1000) %> km</td></tr>
    <tr><td><strong>Elevation gain</strong></td><td><strong><%= number_with_delimiter(@art["elevation_gain"]) %> m (<%= number_with_delimiter(@art["elevation_gain"]/1000) %> km)</strong></td></tr>
    <tr><td>Moving time</td><td><%= humanize @art["moving_time"] %></td></tr>
    <tr><td>Elapsed time</td><td><%= humanize @art["elapsed_time"] %></td></tr>

</table>

<br />
You can bookmark this page to get your all time elevation gain here without integrating it to your profile.<br />
This web page address will show YOUR all-time cycling stats to anyone you share the link with.<br />

<br />

<%=  render "shared/noticearea" %>

<h3>Setup instructions</h3>
To get your all-time elevation gain on your Strava.com profile, complete the 2 steps below and refresh this page.
<ol>
    <li>Firefox with <a href="https://addons.mozilla.org/en-US/firefox/addon/greasemonkey/" target="_blank">Greasemonkey</a> installed.</li> OR Chrome with <a href="https://chrome.google.com/webstore/detail/tampermonkey/dhdgffkkebhmkfjojejmpbldmpobfkfo?hl=en" target="_blank">Tampermonkey</a> installed.</li>
    <li>Install <a href="/script/StravaAllTimeElevationGain.user.js">this user script</a>.</li>
</ol>

<br />


<h3>Personal info</h3>
<table>
    <tr><td><strong>Athlete ID</strong>:</td><td><span id="stravaAthleteId"><%= @art["athlete_id"] %></span></td></tr>
    <tr><td><strong>Authorization Code</strong>:</td><td><span id="stravaCode"><%= @code %></span></td></tr>
</table>
